.container {
  display: flex;
  flex-direction: row;

  .left-container {
    width: 70%;
    padding: 5rem;
    .form-field {
      .enter-otp {
        margin-left: 1rem !important;
      }
    }
    .resend{
      margin-left: 12% !important;

    }
  }

  .right-container {
    width: 30%;
    background-color: #084e8e;

    .sign-up-img {
      background-color: #084e8e;
      // background-image: url(../../../assets/home-page-images/contactUS.png);
      background-size: auto;
      background-position: 97% 10px;
      background-repeat: no-repeat;
      // padding-left: 10%;
      padding: 50px 10% 50px 96px;
    }
  }
}
