<div class="container auth">

<div class="left-container">
  <h2>Forget Password</h2>
  <p>Recovery email has been sent to your registered account</p>

  <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()" autocomplete="on">
    <div class="form-field" [ngClass]="{'control-error': otp?.invalid && (otp?.touched || otp?.dirty)}">
      <mat-label>OTP</mat-label>
      <mat-form-field appearance="fill">
        <input class="enter-otp" matInput formControlName="otp" [errorStateMatcher]="matcher" placeholder="Enter Otp">
      </mat-form-field>


    </div>

    <!-- <button mat-button class="secondary-btn">Submit</button> -->

  </form>
  <a class="resend" href=""> Resend OTP </a>
</div>

<div class="right-container">
  <img src="../../../../../assets/home-page-images/loginbg.png" alt="" />
</div>

</div>
